{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    {{ if eq .Data.Singular "category" }}
                    <h1>
                        分类
                        <span class="keyword">{{ .Data.Term }}</span>
                        中的文章
                    </h1>
                    {{ else if eq .Data.Singular "tag" }}
                    <h1>
                        包含标签
                        <span class="keyword">{{ .Data.Term }}</span>
                        的文章
                    </h1>
                    {{ end }}

                    {{ range $index,$data := (where .Paginator.Pages "Type" "post") }}
                        <article class="post">
                            <header>
                                <h2 class="post-title">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h2>
                            </header>
                            <date class="post-meta meta-date">
                                {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
                                {{ printf "%02d" .Date.Hour }}:{{ printf "%02d" .Date.Minute }}
                            </date>
                            {{ with .Params.Categories }}
                            <div class="post-meta meta-category">
                                ，归类于
                                {{ range . }}
                                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </div>
                            {{ end }}
                            {{ $customSummary := (or .Description .Params.Summary) }}
                            <div class="post-content summary{{ if $customSummary }} manual{{ else }} auto{{end}}">
                                {{/** Prefer user-defined .description content, fallback to built-in summary **/}}
                                {{ with .Description }}
                                    {{ markdownify . }}
                                {{ else }}
                                    {{ .Summary }}
                                {{ end }}
                            </div>
                            <p class="readmore"><a href="{{ .Permalink }}">阅读全文</a></p>
                        </article>
                    {{ end }}

                    {{ partial "paginator" . }}
                </div>
            </div>

            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}

</body>
</html>
