{{ partial "head" . }}
<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    <article class="post">
                        <header>
                            <h1 class="post-title">{{ .Title }}</h1>
                        </header>
                        <date class="post-meta meta-date">
                            {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
                        </date>
                        {{ with .Params.Categories }}
                        <div class="post-meta meta-category">
                            |
                            {{ range . }}
                                <a href="{{ "/categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if .Site.Params.busuanzi }}
                        <div class="post-meta">
                            <span id="busuanzi_container_page_pv">|<span id="busuanzi_value_page_pv"></span><span> 阅读</span></span>
                        </div>
                        {{ end }}
                        <div class="post-content">
                            {{ .Content }}
                        </div>

                        {{ partial "related" . }}

                        <div class="post-meta meta-tags">
                            {{ if and (isset .Params "tags") .Params.tags }}
                            <ul class="clearfix">
                                {{ range .Params.Tags }}
                                <li><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                {{ end }}
                            </ul>
                            {{ else }}
                            没有标签
                            {{ end }}
                        </div>
                    </article>
                    {{ partial "comments" . }}
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
</body>
</html>
