{{ partial "head" . }}
<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    <article class="post">
                        <header>
                            <h1 class="post-title">{{ .Title }}</h1>
                        </header>
                        <date class="post-meta meta-date">
                            {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
                            {{ printf "%02d" .Date.Hour }}:{{ printf "%02d" .Date.Minute }}
                        </date>
                        {{ with .Params.Categories }}
                        <div class="post-meta meta-category">
                            ，归类于
                            {{ range . }}
                                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{- if gt (len .TableOfContents) 32 -}}
                        <aside id="toc" class="dismissed">
                            <span class="toc-title">目录 <a href="#" class="toc-dismiss"></a></span>
                            {{ .TableOfContents }}
                        </aside>
                        {{- end -}}
                        <div class="post-content">
                            {{ .Content }}
                        </div>

                        <div class="post-meta meta-tags">
                            {{ if and (isset .Params "tags") .Params.tags }}
                            <ul class="clearfix">
                                {{ range .Params.Tags }}
                                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                {{ end }}
                            </ul>
                            {{ else }}
                            没有标签
                            {{ end }}
                        </div>
                    </article>
                    {{ partial "comments" . }}
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
</body>
</html>
