{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    {{ if eq .Data.Singular "category" }}
                    <h1>共有{{ len .Data.Terms }}个分类</h1>
                    {{ else if eq .Data.Singular "tag" }}
                    <h1>共有{{ len .Data.Terms }}个标签</h1>
                    {{ end }}

                    {{ range .Data.Terms.ByCount }}
                    <h2><a href="{{ printf "/%s/%s" $.Data.Plural .Term | urlize }}">{{ .Term }}</a> ({{ .Count }})</h2>
                    <ul>
                        {{ range .Pages }}
                        <li>
                            <date class="meta-date">{{ .Date.Format "2006/01/02" }}</date>
                            <a class="archive-title" href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>

            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}

</body>
</html>
