<header id="header" class="clearfix">
    <div class="container">
        <div class="col-group">
            <div class="site-name ">
                {{ if .IsHome }}
                    <h1>
                        <a id="logo" href="{{ .Site.BaseURL | absURL }}">
                            {{ .Site.Title }}
                        </a>
                    </h1>
                {{ else }}
                    <a id="logo" href="{{ .Site.BaseURL | absURL }}">
                        {{ .Site.Title }}
                    </a>
                {{ end }}
                {{ with .Site.Params.description }}<p class="description">{{ . }}</p>{{ end }}
            </div>
            <div>
                <nav id="nav-menu" class="clearfix">
                    <a class="{{ if or (.IsHome) (eq .Type "post") }}current{{ end }}" href="{{ .Site.BaseURL | absURL }}">博客</a>
                    {{ range $index,$data := (where .Site.Pages "Type" "standalone") }}
                    <a {{ if eq .Permalink $.Permalink }}class="current"{{ end }} href="{{ .Permalink }}" title="{{ .Title }}">
                        {{ .Title }}
                    </a>
                    {{ end }}
                </nav>
            </div>
        </div>
    </div>
</header>
