<div id="secondary">
    <section class="widget">
        {{ partial "search_form" . }}
    </section>
    
    <section class="widget">
        {{ partial "recent_post" . }}
    </section>

    {{ partial "ads" . }}

    <section class="widget">
        {{ partial "categories" . }}
    </section>

    <section class="widget">
        {{ partial "tags" . }}
    </section>

    {{ partial "links" . }}

    <section class="widget">
        <h3 class="widget-title">其它</h3>
        <ul class="widget-list">
            <li><a href="{{ "index.xml" | absURL }}">文章 RSS</a></li>
        </ul>
    </section>
</div>